@charset "UTF-8";
*::-moz-selection {
  color: #ff8900;
  background: #fff; }

*::-webkit-selection,
*::selection {
  color: #ff8900;
  background: #fff; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%; }
  @media only screen and (max-width: 1600px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 1499px) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 1399px) {
    html {
      font-size: 47%; } }
  @media only screen and (max-width: 1199px) {
    html {
      font-size: 56%; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.75;
  position: relative !important;
  scrollbar-color: #fff #ff8900;
  scrollbar-width: thin; }
  body.overflow {
    overflow-y: hidden; }

.container {
  width: 100%;
  max-width: 136rem;
  margin: 0 auto;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 1399px) {
    .container {
      padding: 0 20px; } }

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.16;
  color: #3b3b3b; }
  @media only screen and (max-width: 1699px) {
    h2 {
      font-size: 34px; } }
  @media only screen and (max-width: 1399px) {
    h2 {
      font-size: 32px; } }
  @media only screen and (max-width: 980px) {
    h2 {
      font-size: 30px; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    h2 {
      font-size: 26px; } }

h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.25;
  color: #3b3b3b;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 1699px) {
    h3 {
      font-size: 38px; } }
  @media only screen and (max-width: 1399px) {
    h3 {
      font-size: 33px; } }
  @media only screen and (max-width: 980px) {
    h3 {
      font-size: 27px;
      margin-bottom: 1.5rem; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    h3 {
      font-size: 21px; } }
  h3.white {
    color: #fff; }

h4 {
  font-size: 30px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.66;
  color: #3b3b3b;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 1699px) {
    h4 {
      font-size: 27px; } }
  @media only screen and (max-width: 1399px) {
    h4 {
      font-size: 22px;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 980px) {
    h4 {
      font-size: 20px;
      margin-bottom: 1.5rem; } }

h5 {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  color: #3b3b3b; }
  @media only screen and (max-width: 1399px) {
    h5 {
      font-size: 18px;
      line-height: 1.3; } }
  @media only screen and (max-width: 980px) {
    h5 {
      font-size: 16px; } }

h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4; }
  @media only screen and (max-width: 1499px) {
    h6 {
      font-size: 15px; } }

p {
  font-size: 17px;
  line-height: 1.8;
  color: #3b3b3b; }
  @media only screen and (max-width: 1699px) {
    p {
      font-size: 16px; } }
  @media only screen and (max-width: 1399px) {
    p {
      font-size: 15px; } }

ul {
  list-style-type: disc; }

a {
  text-decoration: none; }

a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

input:not([type='checkbox']),
input:not([type='file']),
select,
textarea {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  line-height: 2;
  height: 5rem;
  color: #3b3b3b;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 0 2.5rem;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  input:not([type='checkbox']).wpcf7-not-valid,
  input:not([type='file']).wpcf7-not-valid,
  select.wpcf7-not-valid,
  textarea.wpcf7-not-valid {
    border-color: tomato; }
  @media only screen and (max-width: 992px) {
    input:not([type='checkbox']),
    input:not([type='file']),
    select,
    textarea {
      padding: 0 2rem; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    input:not([type='checkbox']),
    input:not([type='file']),
    select,
    textarea {
      font-size: 16px; } }

input:not([type='checkbox'])::-moz-placeholder,
input:not([type='radio'])::-moz-placeholder,
input:not([type='file'])::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #929292;
  opacity: 1; }

input:not([type='checkbox'])::-ms-input-placeholder,
input:not([type='radio'])::-ms-input-placeholder,
input:not([type='file'])::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #929292;
  opacity: 1; }

input:not([type='checkbox'])::-webkit-input-placeholder,
input:not([type='radio'])::-webkit-input-placeholder,
input:not([type='file'])::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #929292;
  opacity: 1; }

input:not([type='checkbox']):focus::-moz-placeholder,
input:not([type='radio']):focus::-moz-placeholder,
input:not([type='file']):focus::-moz-placeholder,
select:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0; }

input:not([type='checkbox']):focus::-ms-input-placeholder,
input:not([type='radio']):focus::-ms-input-placeholder,
input:not([type='file']):focus::-ms-input-placeholder,
select:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  opacity: 0; }

input:not([type='checkbox']):focus::-webkit-input-placeholder,
input:not([type='radio']):focus::-webkit-input-placeholder,
input:not([type='file']):focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0; }

input:not([type='checkbox']).error,
input:not([type='radio']).error,
input:not([type='file']).error,
select.error,
textarea.error {
  border-color: tomato; }

input:not([type='checkbox']).fail,
input:not([type='radio']).fail,
input:not([type='file']).fail {
  border-color: tomato; }

select {
  background-image: url("../img/down.png");
  -webkit-background-size: 5px 5px;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: right 3rem center; }
  select option {
    padding: 6px 28px 6px 0; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    select {
      background-position: right 1rem center; } }

form textarea {
  height: 18rem;
  padding: 1.5rem 2rem; }

form input[type='submit'] {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.btn, input[type='submit'] {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 4.8rem;
  display: inline-block;
  height: 5rem;
  text-align: center;
  min-width: 12.5rem;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0 1.5rem;
  text-decoration: none;
  transition: all 0.4s ease-out;
  white-space: nowrap; }
  .btn.btn-img, input[type='submit'].btn-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .btn.btn-img span, input[type='submit'].btn-img span {
      display: block;
      margin-right: 10px; }
  .btn.btn-orange, input[type='submit'].btn-orange {
    background: #ff8900;
    border-color: #ff8900;
    color: #fff; }
    .btn.btn-orange:hover, input[type='submit'].btn-orange:hover {
      background: #fd9c2d;
      border-color: #fd9c2d; }
  .btn.btn-red, input[type='submit'].btn-red {
    background: #ff4800;
    border-color: #ff4800;
    color: #fff; }
    .btn.btn-red:hover, input[type='submit'].btn-red:hover {
      background: #ff0000;
      border-color: #ff0000; }
  .btn.btn-gradient, input[type='submit'].btn-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#ff8500), to(#ffae00));
    background: -o-linear-gradient(left, #ff8500, #ffae00);
    background: linear-gradient(to right, #ff8500, #ffae00);
    border-color: transparent;
    color: #fff; }
    .btn.btn-gradient:hover, input[type='submit'].btn-gradient:hover {
      background: -webkit-gradient(linear, left top, right top, from(#d36e00), to(#e59100));
      background: -o-linear-gradient(left, #d36e00, #e59100);
      background: linear-gradient(to right, #d36e00, #e59100); }

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  text-decoration: none; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-out; }
  .modal-wrapper.active {
    visibility: visible;
    opacity: 1; }
  .modal-wrapper .modal-body {
    position: relative;
    background: #fff;
    padding: 3rem 3.5rem; }
    .modal-wrapper .modal-body .close {
      position: absolute;
      top: -15px;
      right: -20px;
      transform: translate(100%, -100%);
      width: 25px;
      height: 30px;
      background: url(../img/close.png) center center/contain no-repeat;
      cursor: pointer; }
    .modal-wrapper .modal-body .center {
      width: 100%;
      display: flex;
      justify-content: center; }
    .modal-wrapper .modal-body h4 {
      font-size: 24px;
      margin-bottom: 2rem; }
    .modal-wrapper .modal-body form label {
      display: inline-block;
      font-size: 14px;
      margin-bottom: 7px; }
    .modal-wrapper .modal-body form label.error {
      color: tomato;
      font-size: 11px;
      margin-top: -8px;
      line-height: 1;
      padding-left: 5px; }
    .modal-wrapper .modal-body form input.error {
      color: tomato; }
    .modal-wrapper .modal-body form input:not([type='checkbox']) {
      margin-bottom: 1.6rem;
      min-width: 30rem;
      max-width: 30rem; }
    .modal-wrapper .modal-body form input[type='submit'] {
      max-width: 20rem;
      min-width: 20rem; }
    .modal-wrapper .modal-body form input[type='checkbox'] {
      margin-right: 5px !important; }
    .modal-wrapper .modal-body form #phone-number {
      margin-bottom: 3rem; }
    .modal-wrapper .modal-body form .btn {
      max-width: 20rem;
      text-transform: initial;
      font-size: 14px;
      font-weight: 400;
      margin: 0 auto; }
    .modal-wrapper .modal-body form .addition-block {
      padding: 1.5rem 0 2.5rem; }
      .modal-wrapper .modal-body form .addition-block a {
        font-size: 14px;
        text-decoration: underline;
        color: #3b3b3b;
        margin-right: 2.5rem; }
        .modal-wrapper .modal-body form .addition-block a:hover {
          text-decoration: none; }
  .modal-wrapper.call-me .modal-body {
    max-width: 38rem; }
  .modal-wrapper.login input[type='submit']:disabled {
    background: #afb9c6;
    border-color: #afb9c6; }
  .modal-wrapper.login .right div {
    padding-top: 3.1rem; }
  .modal-wrapper.login .modal-body {
    max-width: 75.5rem;
    padding-right: 0;
    padding-left: 0; }
  .modal-wrapper.login .content {
    display: flex; }
    .modal-wrapper.login .content > div {
      width: 50%;
      padding: 0 4rem; }
      .modal-wrapper.login .content > div:first-of-type {
        border-right: 1px solid #e8e8e8; }
  .modal-wrapper .login-with {
    color: #fff;
    min-width: 100%;
    margin-bottom: 2.4rem; }
    .modal-wrapper .login-with.facebook {
      background: #3b5998;
      border-color: #3b5998; }
      .modal-wrapper .login-with.facebook span {
        width: 8px;
        height: 17px;
        background: url(../img/facebook.svg) center center/contain no-repeat; }
    .modal-wrapper .login-with.twitter {
      background: #41abe1;
      border-color: #41abe1; }
      .modal-wrapper .login-with.twitter span {
        width: 15px;
        height: 14px;
        background: url(../img/twitter.svg) center center/contain no-repeat; }
    .modal-wrapper .login-with.google {
      background: #ea4335;
      border-color: #ea4335; }
      .modal-wrapper .login-with.google span {
        width: 17px;
        height: 17px;
        background: url(../img/google.svg) center center/contain no-repeat; }

header {
  position: relative; }
  header .row-content {
    padding-top: 3rem;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 1499px) {
      header .row-content {
        padding-top: 4rem;
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 1199px) {
      header .row-content {
        padding-top: 3rem;
        padding-bottom: 3rem; } }
    header .row-content .logo {
      position: relative; }
      header .row-content .logo a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        header .row-content .logo {
          min-width: 0;
          max-width: 50%;
          position: absolute; }
          header .row-content .logo img {
            width: 12rem; } }
  header .top-line {
    background: #5f5a59; }
    header .top-line .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        header .top-line .container {
          flex-direction: row-reverse;
          justify-content: flex-start;
          align-items: center; } }
    header .top-line .btn {
      min-width: 12.5rem;
      height: 5rem; }
      header .top-line .btn span {
        display: inline-block;
        width: 18px;
        height: 15px;
        background: url(../img/login.png) center center/contain no-repeat; }
  header .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    min-height: 100%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      header .main-menu {
        padding: 0 10px;
        min-height: 0; } }
    header .main-menu li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      height: 100%;
      padding: 0 10px;
      margin-right: 1.6rem;
      cursor: pointer; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        header .main-menu li {
          margin-right: 0; } }
      header .main-menu li::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ff8900;
        transition: all 0.4s ease-out; }
      header .main-menu li a {
        font-size: 12px;
        text-transform: uppercase;
        color: #c3c3c3; }
      header .main-menu li.active-link::before, header .main-menu li:hover::before {
        width: 100%; }
      header .main-menu li.active-link a, header .main-menu li:hover a {
        color: #fff; }
      header .main-menu li:first-of-type {
        padding-left: 0; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      header .main-menu {
        position: absolute;
        top: 100%;
        background: grey;
        left: 0;
        width: 100%;
        display: block;
        display: none;
        z-index: 999; }
        header .main-menu li, header .main-menu li:first-of-type {
          padding: 15px 10px; } }
  header .menu-icon {
    display: none;
    position: relative;
    width: 14px;
    height: 10px; }
    header .menu-icon p {
      position: absolute;
      left: 0;
      width: 14px;
      height: 2px;
      background: #fff;
      border-radius: 0;
      transition: 0.3s;
      transform-origin: 50% 50%;
      margin: 0; }
      header .menu-icon p:nth-child(1) {
        top: 0; }
      header .menu-icon p:nth-child(2) {
        top: 4px;
        transition: 0.1s; }
      header .menu-icon p:nth-child(3) {
        bottom: 0; }
    header .menu-icon.active p:nth-child(1) {
      top: 9px;
      transform: rotate(45deg); }
    header .menu-icon.active p:nth-child(2) {
      opacity: 0; }
    header .menu-icon.active p:nth-child(3) {
      width: 30px;
      bottom: 7px;
      transform: rotate(-45deg); }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      header .menu-icon {
        display: block;
        margin-left: 15px; } }

.row-content {
  display: flex;
  justify-content: space-between; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .row-content {
      flex-direction: column;
      z-index: 1; } }
  .row-content > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; }
    @media only screen and (max-width: 1199px) {
      .row-content > div.header-right {
        flex-direction: column-reverse;
        align-items: flex-end; }
        .row-content > div.header-right .right-part {
          margin-bottom: 15px; } }
  .row-content > div:first-of-type {
    min-width: 34.5rem;
    max-width: 34.5rem;
    padding-right: 2rem;
    align-items: flex-start; }
    @media only screen and (max-width: 1499px) {
      .row-content > div:first-of-type {
        min-width: 30rem;
        max-width: 30rem; } }
    @media only screen and (max-width: 1199px) {
      .row-content > div:first-of-type {
        min-width: 26rem;
        max-width: 26rem; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .row-content > div:first-of-type {
        min-width: 100%;
        max-width: 100%;
        padding-right: 0; } }
  .row-content .phone-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8e8e8; }
    @media only screen and (max-width: 1199px) {
      .row-content .phone-wrapper {
        width: 100%; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .row-content .phone-wrapper {
        background: transparent;
        flex-direction: column; } }
    .row-content .phone-wrapper a:not(.btn) {
      display: inline-block;
      padding: 0 9px;
      font-size: 16px;
      font-weight: 700;
      color: #151515;
      font-style: italic;
      margin-right: 2rem; }
      @media only screen and (max-width: 1499px) {
        .row-content .phone-wrapper a:not(.btn) {
          margin-right: 1rem;
          font-size: 14px; } }
      @media only screen and (max-width: 1299px) {
        .row-content .phone-wrapper a:not(.btn) {
          font-size: 12px;
          margin-right: 0; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row-content .phone-wrapper a:not(.btn) {
          margin: 20px  0; } }
    .row-content .phone-wrapper .btn {
      min-width: 19.7rem;
      margin-left: 1.3rem;
      font-weight: 400; }
      @media only screen and (max-width: 599px) {
        .row-content .phone-wrapper .btn {
          width: 100%;
          margin-left: 0; } }
      .row-content .phone-wrapper .btn span {
        background: url(../img/phone.png) center center/contain no-repeat;
        width: 15px;
        height: 20px; }
  .row-content .right-part {
    display: flex;
    justify-content: flex-end; }
    .row-content .right-part div {
      position: relative;
      padding: 0 2.3rem;
      border-right: 1px solid #e8e8e8; }
      @media only screen and (max-width: 1499px) {
        .row-content .right-part div {
          padding: 0 1.5rem; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row-content .right-part div {
          border: none;
          padding: 0 0.5rem; } }
      .row-content .right-part div:nth-child(2) {
        padding: 0 3.3rem; }
        @media only screen and (max-width: 1499px) {
          .row-content .right-part div:nth-child(2) {
            padding: 0 1.5rem; } }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .row-content .right-part div:nth-child(2) {
            padding: 0 0.5em; } }
      .row-content .right-part div:last-of-type {
        border-right: none;
        padding: 0 3.3rem; }
        @media only screen and (max-width: 1499px) {
          .row-content .right-part div:last-of-type {
            padding: 0 1.5rem; } }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .row-content .right-part div:last-of-type {
            padding: 0 0.5rem; } }
      .row-content .right-part div p {
        text-align: center;
        font-size: 10px;
        color: #3b3b3b;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 7px; }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .row-content .right-part div p {
            display: none; } }
      .row-content .right-part div span {
        display: block;
        width: 5rem;
        height: 4rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto; }
        @media only screen and (max-width: 1499px) {
          .row-content .right-part div span {
            width: 4rem;
            height: 3rem; } }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .row-content .right-part div span {
            width: 3.5rem;
            height: 2.5rem; } }
        .row-content .right-part div span.counter {
          display: inline-block;
          width: auto;
          height: 14px;
          padding: 0 7px;
          background: #ff8900;
          background-image: none !important;
          color: #fff;
          font-size: 11px;
          text-align: center;
          position: absolute;
          top: -22px;
          left: 50%;
          transform: translateX(-50%);
          line-height: 15px;
          box-shadow: 0 5px 5px rgba(241, 129, 0, 0.7);
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s ease-out; }
          .row-content .right-part div span.counter.visibility {
            opacity: 1;
            visibility: visible; }
          .row-content .right-part div span.counter:after {
            content: '';
            position: absolute;
            /* Абсолютное позиционирование */
            left: 50%;
            bottom: -10px;
            /* Положение треугольника */
            transform: translateX(-50%);
            border: 5px solid transparent;
            /* Прозрачные границы */
            border-top: 7px solid #ff8900;
            /* Добавляем треугольник */ }
          @media only screen and (max-width: 1499px) {
            .row-content .right-part div span.counter {
              top: -24px; } }
      .row-content .right-part div.compare span {
        background-image: url(../img/compare-header.png); }
      .row-content .right-part div.favorites span {
        background-image: url(../img/favorites-header.png); }
      .row-content .right-part div.cart span {
        background-image: url(../img/cart-header.png); }
      .row-content .right-part div a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer; }
  .row-content .menu {
    width: 100%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .row-content .menu {
        margin-bottom: 20px; } }
    .row-content .menu .menu-header {
      display: flex;
      align-items: center;
      height: 5.5rem;
      width: 100%;
      background: -webkit-gradient(linear, left top, right top, from(#ff8500), to(#ffae00));
      background: -o-linear-gradient(left, #ff8500, #ffae00);
      background: linear-gradient(to right, #ff8500, #ffae00); }
      .row-content .menu .menu-header p {
        font-size: 20px;
        margin-left: 20px;
        color: #fff;
        font-weight: 700; }
        @media only screen and (max-width: 1499px) {
          .row-content .menu .menu-header p {
            font-size: 18px; } }
      .row-content .menu .menu-header .menu-icon {
        width: 6rem;
        height: 5.5rem;
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center; }
        .row-content .menu .menu-header .menu-icon div {
          position: relative;
          width: 14px;
          height: 10px; }
          .row-content .menu .menu-header .menu-icon div p {
            position: absolute;
            left: 0;
            width: 14px;
            height: 2px;
            background: #fff;
            border-radius: 0;
            transition: 0.3s;
            transform-origin: 50% 50%;
            margin: 0; }
            .row-content .menu .menu-header .menu-icon div p:nth-child(1) {
              top: 0;
              width: 10px; }
            .row-content .menu .menu-header .menu-icon div p:nth-child(2) {
              width: 14px;
              top: 4px;
              transition: 0.1s; }
            .row-content .menu .menu-header .menu-icon div p:nth-child(3) {
              width: 7px;
              bottom: 0; }
          .row-content .menu .menu-header .menu-icon div.active p:nth-child(1) {
            top: 9px;
            transform: rotate(45deg); }
          .row-content .menu .menu-header .menu-icon div.active p:nth-child(2) {
            opacity: 0; }
          .row-content .menu .menu-header .menu-icon div.active p:nth-child(3) {
            width: 30px;
            bottom: 7px;
            transform: rotate(-45deg); }
    .row-content .menu ul {
      border-right: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;
      padding-top: 10px; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row-content .menu ul {
          display: none; } }
      .row-content .menu ul li {
        list-style: none;
        border-bottom: 1px solid #e8e8e8; }
        .row-content .menu ul li a {
          position: relative;
          display: block;
          padding: 13px 5.5rem 13px 4rem;
          font-size: 16px;
          font-weight: 700;
          color: #3b3b3b;
          text-transform: uppercase; }
          @media only screen and (max-width: 1499px) {
            .row-content .menu ul li a {
              font-size: 15px;
              padding: 9px 4.5rem 9px 3rem; } }
          @media only screen and (max-width: 1199px) {
            .row-content .menu ul li a {
              padding: 9px 4.5rem 9px 1.5rem; } }
          .row-content .menu ul li a:after {
            position: absolute;
            right: 3rem;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            width: 10px;
            height: 15px;
            background: url(../img/right.png) center center/contain no-repeat;
            transition: all 0.4s ease-out; }
            @media only screen and (max-width: 1499px) {
              .row-content .menu ul li a:after {
                right: 2.5rem; } }
          .row-content .menu ul li a:hover {
            color: #c0c4d8; }
            .row-content .menu ul li a:hover:after {
              right: 2.5rem; }
  .row-content .search-block {
    display: block; }
    .row-content .search-block form {
      width: 100%;
      display: flex;
      height: 5.5rem;
      background: #e8e8e8; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row-content .search-block form {
          flex-wrap: wrap;
          justify-content: space-between;
          background: transparent;
          height: auto; }
          .row-content .search-block form .search-label {
            width: 100%;
            margin-bottom: 3px; }
            .row-content .search-block form .search-label::before {
              display: none; } }
      .row-content .search-block form .search-label input.error {
        border-color: transparent; }
      .row-content .search-block form .search-label label.error {
        display: none !important; }
      .row-content .search-block form input:not([type=submit]), .row-content .search-block form select {
        background-color: transparent;
        height: 5.5rem; }
      .row-content .search-block form .btn {
        max-width: 16.5rem;
        height: 5.5rem;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.5; }
        @media only screen and (max-width: 1199px) {
          .row-content .search-block form .btn {
            max-width: 10rem;
            font-size: 14px; } }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .row-content .search-block form .btn {
            max-width: 34%; } }
      .row-content .search-block form label {
        display: block;
        width: 100%;
        position: relative; }
        .row-content .search-block form label:before {
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 4rem;
          transform: translateY(-50%);
          content: '';
          background: #b4b9bf; }
      .row-content .search-block form select {
        max-width: 150px;
        font-size: 14px;
        color: #616161;
        padding: 0 4rem 0 1.5rem; }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .row-content .search-block form select {
            max-width: calc(100% - 13rem); } }
  .row-content .filter {
    width: 100%;
    height: calc(100% - 8rem);
    margin-top: 20px;
    background: #696969; }
    .row-content .filter .links {
      height: 7.5rem;
      background: #606a76;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2.5rem; }
      @media only screen and (max-width: 1199px) {
        .row-content .filter .links {
          padding: 0 1.5rem; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row-content .filter .links {
          height: auto;
          padding-top: 10px; } }
      .row-content .filter .links div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc((100% - 4rem) / 5);
        height: 100%;
        cursor: pointer;
        opacity: 0.4;
        position: relative; }
        @media only screen and (max-width: 1199px) {
          .row-content .filter .links div {
            flex-direction: column;
            justify-content: flex-end; } }
        .row-content .filter .links div:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 0;
          height: 2px;
          background: #ffc925;
          transition: all 0.4s ease-out; }
        .row-content .filter .links div img {
          margin-right: 1.5rem;
          filter: grayscale(1) contrast(2);
          transition: all 0.4s ease-out; }
          @media only screen and (max-width: 1199px) {
            .row-content .filter .links div img {
              margin-bottom: 5px; } }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            .row-content .filter .links div img {
              margin: 0 auto 5px; } }
        .row-content .filter .links div.active, .row-content .filter .links div:hover {
          opacity: 1; }
          .row-content .filter .links div.active:after, .row-content .filter .links div:hover:after {
            width: 100%; }
          .row-content .filter .links div.active img, .row-content .filter .links div:hover img {
            filter: none; }
        .row-content .filter .links div p {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.1; }
          @media only screen and (max-width: 1499px) {
            .row-content .filter .links div p {
              font-size: 16px; } }
          @media only screen and (max-width: 1199px) {
            .row-content .filter .links div p {
              font-size: 14px;
              margin: 5px 0 10px; } }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            .row-content .filter .links div p {
              font-size: 0; } }
    .row-content .filter .filter-bottom {
      padding: 25px 0;
      height: calc(100% - 7.5rem); }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row-content .filter .filter-bottom {
          padding: 15px 0; } }
      .row-content .filter .filter-bottom .tabs {
        width: auto;
        display: inline-flex;
        align-items: center;
        background: #e8e8e8;
        margin: 0 0 20px;
        padding: 0.3rem 0.4rem; }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .row-content .filter .filter-bottom .tabs {
            width: 100%; } }
        .row-content .filter .filter-bottom .tabs span {
          display: inline-block;
          width: 14rem;
          height: 4rem;
          line-height: 4rem;
          font-size: 14px;
          text-align: center;
          transition: all 0.4s ease-out;
          cursor: pointer; }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            .row-content .filter .filter-bottom .tabs span {
              width: 50%; } }
          .row-content .filter .filter-bottom .tabs span.active {
            background: #ff8900;
            color: #fff; }
      .row-content .filter .filter-bottom #filter-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 3.5rem; }
        @media only screen and (max-width: 1199px) {
          .row-content .filter .filter-bottom #filter-form {
            padding: 0 1.5rem; } }
        .row-content .filter .filter-bottom #filter-form .form-content {
          width: 100%; }
      .row-content .filter .filter-bottom form {
        display: block;
        width: 100%;
        height: 100%;
        background: transparent; }
        .row-content .filter .filter-bottom form .form-wrapper {
          width: calc(100% + 2rem);
          margin-left: -1rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start; }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            .row-content .filter .filter-bottom form .form-wrapper {
              width: calc(100% + 1rem);
              margin-left: -.5rem; } }
          .row-content .filter .filter-bottom form .form-wrapper label {
            width: calc((100% - 8rem) / 4);
            margin: 0 1rem;
            padding-bottom: 1px;
            border-bottom: 1px solid #fff;
            margin-bottom: 22px; }
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
              .row-content .filter .filter-bottom form .form-wrapper label {
                width: calc((100% - 2rem) / 2);
                margin: 0 0.5rem 10px; } }
            .row-content .filter .filter-bottom form .form-wrapper label select, .row-content .filter .filter-bottom form .form-wrapper label input {
              min-width: 100%;
              height: 4rem;
              background-color: #fff; }
            .row-content .filter .filter-bottom form .form-wrapper label select {
              background-image: url("../img/down-orange.png"); }
        .row-content .filter .filter-bottom form .range {
          width: calc((100% - 8rem) / 4);
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-left: 1rem; }
          @media only screen and (max-width: 1399px) {
            .row-content .filter .filter-bottom form .range {
              width: auto; } }
          .row-content .filter .filter-bottom form .range label.error {
            display: none; }
          .row-content .filter .filter-bottom form .range p {
            font-size: 14px;
            color: #fff;
            margin-right: auto; }
          .row-content .filter .filter-bottom form .range label {
            width: 75px;
            margin: 0 0 0 1rem; }
            .row-content .filter .filter-bottom form .range label input {
              color: #9c9c9c;
              font-size: 14px;
              padding: 0 5px;
              text-align: center;
              position: relative; }
              .row-content .filter .filter-bottom form .range label input:focus {
                color: #3b3b3b; }
        .row-content .filter .filter-bottom form .btn-wrapper {
          margin-top: 5px;
          padding: 0; }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            .row-content .filter .filter-bottom form .btn-wrapper {
              margin-top: 15px;
              flex-direction: column-reverse; } }
          .row-content .filter .filter-bottom form .btn-wrapper .btn {
            min-width: 21rem;
            font-size: 12px;
            font-weight: 400;
            height: 5rem; }
            @media only screen and (max-width: 599px) {
              .row-content .filter .filter-bottom form .btn-wrapper .btn {
                min-width: 100%;
                margin-bottom: 10px; } }
          .row-content .filter .filter-bottom form .btn-wrapper .btn-red {
            max-width: 100%;
            font-size: 14px;
            text-transform: initial; }
          .row-content .filter .filter-bottom form .btn-wrapper .btn-img span {
            width: 13px;
            height: 13px;
            background: url(../img/close.png) center center/contain no-repeat; }

.products-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 20px; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .products-header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      border-bottom: none; } }
  .products-header h2 {
    position: relative;
    line-height: 1.8; }
    .products-header h2:after {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #ff8900; }
  .products-header a {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-decoration: underline;
    padding-right: 3rem;
    position: relative;
    margin-top: 14px; }
    .products-header a:after {
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      content: '';
      width: 15px;
      height: 10px;
      background: url(../img/right-big.svg) center center/contain no-repeat; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5.5rem; }
  .products .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 15px 20px 10px;
    margin-bottom: 5.5rem; }
    @media only screen and (max-width: 1299px) {
      .products .product {
        width: calc(100%/3); } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .products .product {
        border: none;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 3rem; } }
    .products .product:nth-child(4n) {
      border-right: none; }
      @media only screen and (max-width: 1299px) {
        .products .product:nth-child(4n) {
          display: none; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .products .product:nth-child(4n) {
          display: flex; } }
    @media only screen and (max-width: 1299px) {
      .products .product:nth-child(3n) {
        border-right: none; } }
    .products .product h6 {
      text-decoration: underline;
      transition: all 0.4s ease-out;
      margin-bottom: 5px;
      min-height: 6rem; }
      .products .product h6:hover {
        text-decoration: none; }
    .products .product .btn-img {
      min-width: 21rem;
      margin: 0 auto; }
      .products .product .btn-img span {
        width: 3rem;
        height: 2.5rem;
        background: url(../img/cart.png) center center/contain no-repeat; }
  .products .marks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .products .marks span {
      display: block;
      min-width: 8rem;
      height: 2.2rem;
      line-height: 2.4rem;
      padding: 0 1rem;
      background: #e8e8e8;
      font-weight: 300;
      font-size: 14px;
      color: #848484;
      text-align: center;
      margin-bottom: 17px; }
  .products .feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px; }
    @media only screen and (max-width: 1499px) {
      .products .feedback {
        flex-direction: column;
        align-items: flex-start; } }
    .products .feedback > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .products .feedback > div p {
        position: relative;
        font-size: 13px;
        color: #9b9b9b;
        margin-left: 5px;
        margin-bottom: 0;
        line-height: 1.1; }
        .products .feedback > div p::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          content: '';
          background: #9b9b9b; }
    .products .feedback > p {
      margin-bottom: 0;
      font-size: 12px;
      color: #757575;
      line-height: 1.1; }
      @media only screen and (max-width: 1499px) {
        .products .feedback > p {
          margin-top: 10px; } }
    .products .feedback .stars {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .products .feedback .stars span {
        display: block;
        width: 15px;
        height: 15px;
        background: url(../img/star-orange.svg);
        margin-right: 5px; }
        @media only screen and (max-width: 1799px) {
          .products .feedback .stars span {
            margin-right: 2px; } }
        .products .feedback .stars span.empty {
          background: url(../img/star.svg); }
  .products .product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 210px; }
    .products .product-info .additional-info {
      width: 5.5rem; }
      @media only screen and (max-width: 1499px) {
        .products .product-info .additional-info {
          width: 7rem; } }
      .products .product-info .additional-info div {
        margin-bottom: 10px; }
      .products .product-info .additional-info img {
        margin: 0 auto 10px; }
      .products .product-info .additional-info p {
        font-size: 10px;
        color: #91959a;
        text-transform: uppercase;
        text-align: center; }
    .products .product-info .product-photo {
      width: calc(100% - 11rem); }
      @media only screen and (max-width: 1499px) {
        .products .product-info .product-photo {
          width: calc(100% - 7rem); } }
      .products .product-info .product-photo img {
        margin: 0 auto; }
  .products .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: -1rem; }
    .products .price p {
      font-weight: 900;
      font-style: italic;
      font-size: 18px;
      text-transform: uppercase; }
      @media only screen and (max-width: 1499px) {
        .products .price p {
          font-size: 17px; } }
      .products .price p span {
        font-size: 30px; }
        @media only screen and (max-width: 1499px) {
          .products .price p span {
            font-size: 25px; } }
      .products .price p.sale {
        display: inline;
        position: relative;
        font-size: 16px;
        color: #989898;
        margin-right: 5px;
        margin-top: 5px; }
        @media only screen and (max-width: 1499px) {
          .products .price p.sale {
            font-size: 15px; } }
        .products .price p.sale span {
          font-size: 16px; }
        .products .price p.sale:after {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '';
          background: #e00000;
          width: 100%;
          height: 1px; }
  .products .attention {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 55px; }
    .products .attention-item {
      position: relative;
      margin: 0 0 5px;
      text-align: center;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center; }
      .products .attention-item img {
        max-width: 200%;
        width: 150%; }
        @media only screen and (max-width: 1499px) {
          .products .attention-item img {
            width: 120%; } }
  .products .btn-wrapper {
    padding: 0; }
    @media only screen and (max-width: 1499px) {
      .products .btn-wrapper {
        flex-direction: column; } }
    .products .btn-wrapper .btn-outline {
      cursor: pointer; }
      @media only screen and (max-width: 1499px) {
        .products .btn-wrapper .btn-outline:first-of-type {
          margin-bottom: 8px; } }
      .products .btn-wrapper .btn-outline:hover p {
        transition: all 0.4s ease-out;
        text-decoration: none; }

@media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
  .slick-dots {
    display: flex;
    margin: 0 auto; }
    .slick-dots li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ff8900;
      list-style: none;
      margin: 0 5px;
      opacity: 0.6;
      transition: all 0.4s ease-out; }
      .slick-dots li.slick-active {
        opacity: 1;
        transform: scale(1.5); }
      .slick-dots li button {
        font-size: 0; } }

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  padding: 0 10px 0 20px; }

.btn-outline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .btn-outline a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer; }
  .btn-outline p {
    font-size: 14px;
    color: #3b3b3b;
    text-decoration: underline; }
    @media only screen and (max-width: 1499px) {
      .btn-outline p {
        font-size: 13px; } }
  .btn-outline span {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-right: 10px; }
    @media only screen and (max-width: 1499px) {
      .btn-outline span {
        width: 2.5rem; } }
  .btn-outline.compare span {
    width: 3.5rem;
    background: url(../img/compre.png) center center/contain no-repeat; }
    @media only screen and (max-width: 1499px) {
      .btn-outline.compare span {
        width: 3rem; } }
  .btn-outline.favorites span {
    background: url(../img/favorites.png) center center/contain no-repeat; }

footer {
  background: #696969;
  padding-top: 3.5rem;
  padding-bottom: 1rem; }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap; }
    footer .container > div {
      width: calc((100% / 2) / 3);
      padding-right: 2rem;
      padding-left: 1rem; }
      @media only screen and (max-width: 980px) {
        footer .container > div {
          width: calc(100% / 3);
          padding-left: 0; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        footer .container > div {
          width: 100%;
          margin-bottom: 20px; } }
      footer .container > div:first-of-type {
        width: calc(100% / 2);
        padding-right: 10.5rem;
        padding-left: 0; }
        @media only screen and (max-width: 1399px) {
          footer .container > div:first-of-type {
            padding-right: 5rem; } }
        @media only screen and (max-width: 980px) {
          footer .container > div:first-of-type {
            width: calc(100% / 1.5);
            padding-right: 0;
            margin: 0 20px 30px 0; } }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          footer .container > div:first-of-type {
            width: 100%;
            margin: 0 0 30px 0; } }
      footer .container > div .footer-header {
        position: relative;
        margin-bottom: 3rem;
        padding-bottom: 1rem; }
        footer .container > div .footer-header:after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #e8e8e8;
          content: ''; }
      footer .container > div h3 {
        position: relative;
        display: inline;
        font-size: 20px;
        font-weight: 500;
        color: #cbcbcb;
        padding-bottom: 1rem; }
        @media only screen and (max-width: 1499px) {
          footer .container > div h3 {
            font-size: 16px; } }
        footer .container > div h3:after {
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #ff8900;
          content: '';
          z-index: 2; }
      footer .container > div h4 {
        font-size: 20px;
        font-weight: 700;
        color: #cbcbcb;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 0.8; }
        @media only screen and (max-width: 1499px) {
          footer .container > div h4 {
            font-size: 18px; } }
        @media only screen and (max-width: 1199px) {
          footer .container > div h4 {
            line-height: 1.2;
            margin-bottom: 10px; } }
      footer .container > div h5 {
        font-size: 26px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 5px; }
        @media only screen and (max-width: 1499px) {
          footer .container > div h5 {
            font-size: 22px; } }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          footer .container > div h5 {
            margin-bottom: 15px; } }
  footer form {
    position: relative; }
    footer form label.error {
      position: absolute;
      left: 5px;
      bottom: -25px;
      font-size: 12px;
      color: tomato; }
    footer form .btn {
      position: absolute;
      right: 0;
      min-width: 17rem; }
      @media only screen and (max-width: 699px) {
        footer form .btn {
          position: relative;
          min-width: 100%; } }
  footer ul li {
    list-style: none;
    margin-bottom: 2.1rem; }
    footer ul li a {
      font-size: 13px;
      line-height: 1.1;
      color: #fff;
      text-decoration: underline; }
      footer ul li a:hover {
        text-decoration: none; }
  footer .social {
    display: flex; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      footer .social {
        justify-content: center;
        margin-bottom: 10px; } }
    footer .social .social-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border: 1px solid #a0a9b2;
      margin-right: 10px;
      transition: all 0.4s ease-out;
      cursor: pointer; }
      footer .social .social-item svg path {
        transition: all 0.4s ease-out; }
      footer .social .social-item:last-of-type {
        margin-right: 0; }
      footer .social .social-item:hover {
        border-color: #ffc925; }
        footer .social .social-item:hover svg path {
          fill: #ffc925; }
  footer .footer-bottom {
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      footer .footer-bottom {
        margin-top: 0; } }
    footer .footer-bottom > div:first-of-type {
      display: flex;
      align-items: center; }
      footer .footer-bottom > div:first-of-type p {
        font-size: 12px;
        color: #a0a9b2;
        padding: 0 15px; }
        @media only screen and (max-width: 1499px) {
          footer .footer-bottom > div:first-of-type p {
            padding: 0 0 0 12px; } }
        @media only screen and (max-width: 980px) {
          footer .footer-bottom > div:first-of-type p {
            padding: 0; } }
      @media only screen and (max-width: 980px) {
        footer .footer-bottom > div:first-of-type {
          order: 3;
          margin: 10px 0; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        footer .footer-bottom > div:first-of-type {
          justify-content: center;
          margin-top: 0; } }
    footer .footer-bottom > div:nth-child(2) {
      width: calc((100% / 2) / 1.5); }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        footer .footer-bottom > div:nth-child(2) {
          width: 100%; } }
    footer .footer-bottom > div:last-of-type {
      display: flex;
      align-items: center;
      padding-left: 18px;
      padding-right: 0; }
      @media only screen and (max-width: 1499px) {
        footer .footer-bottom > div:last-of-type {
          padding-left: 0; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        footer .footer-bottom > div:last-of-type {
          justify-content: center; } }
      footer .footer-bottom > div:last-of-type div {
        padding: 0 0 0 17px;
        border-left: 1px solid rgba(255, 255, 255, 0.1); }
        @media only screen and (max-width: 1499px) {
          footer .footer-bottom > div:last-of-type div {
            padding: 0 0 0 12px; } }
        footer .footer-bottom > div:last-of-type div.company-logo {
          padding: 0;
          margin-right: 19px;
          border-left: none;
          position: relative; }
          @media only screen and (max-width: 1499px) {
            footer .footer-bottom > div:last-of-type div.company-logo {
              margin-right: 12px; } }
          footer .footer-bottom > div:last-of-type div.company-logo a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
          footer .footer-bottom > div:last-of-type div.company-logo img {
            min-width: 42px; }
        footer .footer-bottom > div:last-of-type div p {
          font-size: 12px;
          color: #a0a9b2; }
          @media only screen and (max-width: 1499px) {
            footer .footer-bottom > div:last-of-type div p {
              font-size: 11px; } }
          footer .footer-bottom > div:last-of-type div p strong {
            font-size: 12px;
            font-weight: 500;
            color: #fff; }
            @media only screen and (max-width: 1499px) {
              footer .footer-bottom > div:last-of-type div p strong {
                font-size: 11px; } }
    footer .footer-bottom .logo {
      position: relative;
      margin-right: 20px; }
      @media only screen and (max-width: 1499px) {
        footer .footer-bottom .logo {
          margin-right: 12px; } }
      @media only screen and (max-width: 980px) {
        footer .footer-bottom .logo {
          display: none; } }
      footer .footer-bottom .logo:before {
        position: absolute;
        top: 0;
        right: -20px;
        height: 100%;
        width: 1px;
        content: '';
        background: rgba(255, 255, 255, 0.1); }
      footer .footer-bottom .logo a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        width: 100%;
        height: 100%; }
