<footer>
    <div class="container">
        <div>
            <div class="footer-header">
                <h3>Блок</h3>
            </div>
            <h4>Будьте в курсе новостей и новинок!</h4>
            <h5>Подписывайтесь на рассылку</h5>
            <form id='subscribe-form' action="javascript:void(0)">
                <input type="text" placeholder="Укажите свой email для подписки" required name='email'>
                <button type="submit" class="btn btn-orange">Подписаться</button>
            </form>
        </div>
        <div>
            <div class="footer-header">
                <h3>Блок ссылок 1</h3>
            </div>
            <ul>
                <li><a href="#">Ссылка 1</a></li>
                <li><a href="#">Ссылка 2</a></li>
                <li><a href="#">Ссылка 3</a></li>
                <li><a href="#">Ссылка 4</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <h3>Блок 2</h3>
            </div>
            <ul>
                <li><a href="#">Ссылка 1</a></li>
                <li><a href="#">Ссылка 2</a></li>
                <li><a href="#">Ссылка 3</a></li>
                <li><a href="#">Ссылка 4</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <h3>Блок ссылок 3</h3>
            </div>
            <ul>
                <li><a href="#">Ссылка 1</a></li>
                <li><a href="#">Ссылка 2</a></li>
                <li><a href="#">Ссылка 3</a></li>
                <li><a href="#">Ссылка 4</a></li>
            </ul>
        </div>
    </div>
    <div class="container footer-bottom">
        <div>
            <div class="logo">
                <div>
                    <img src="img/logo-footer.png" />
                    <a href="index.html"></a>
                </div>
            </div>
            <p>© Copyrith 2017. Тестовое задание Wezom</p>
        </div>
        <div>
            <div class="social">
                <div class="social-item vk">
                    <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.1667 5.87424V5.43718L16.4475 2.58543C16.8047 2.13829 16.9995 1.5831 17 1.01081C16.9996 0.45273 16.5473 0.000403883 15.9892 5.44594e-06H13.5044C13.1206 -0.00128948 12.7738 0.228443 12.6253 0.582255C12.1448 1.90397 11.5125 3.16546 10.7411 4.34138C10.5037 4.52768 10.1766 4.55013 9.91595 4.39806V0.774933C9.91362 0.348207 9.56848 0.0027281 9.14175 5.44594e-06H6.02082C5.82522 -0.000359788 5.66638 0.157953 5.66601 0.353552C5.66585 0.447849 5.7033 0.538328 5.77007 0.604933L5.96415 0.799005C6.22775 1.06104 6.37566 1.41758 6.37497 1.78926V4.48093C6.34176 4.51483 6.299 4.53781 6.25241 4.54681C6.121 4.52652 6.00166 4.45842 5.91736 4.35556C5.00584 3.03321 4.19874 1.64183 3.50336 0.194111C3.44303 0.0750445 3.32091 3.86308e-05 3.18743 3.86308e-05H0.920823C0.412284 3.86308e-05 1.28259e-06 0.412288 1.28259e-06 0.920861V1.10149C-0.000596374 1.84856 0.207687 2.58092 0.601376 3.21586C2.50113 6.27231 5.10638 9.91668 6.72918 9.91668H9.04612C9.52657 9.91592 9.91588 9.52661 9.91668 9.04613V8.43981C9.91651 8.08224 10.2062 7.79225 10.5638 7.79211C10.7359 7.79205 10.9009 7.86045 11.0224 7.98223L12.4929 9.45273C12.79 9.75083 13.194 9.91784 13.6149 9.91668H16.1422C16.6152 9.91599 16.998 9.53202 16.9973 9.05905C16.997 8.83267 16.907 8.61562 16.7471 8.45538L14.1667 5.87424Z"
                            fill="white" />
                    </svg>

                </div>
                <div class="social-item facebook">
                    <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.53945 2.65645H8V0.112657C7.74802 0.0779935 6.88143 0 5.87218 0C3.76635 0 2.32381 1.32456 2.32381 3.75902V5.9995H0V8.84326H2.32381V15.9987H5.1729V8.84393H7.40272L7.75669 6.00017H5.17224V4.041C5.1729 3.21907 5.39422 2.65645 6.53945 2.65645V2.65645Z"
                            fill="white" />
                    </svg>
                </div>
                <div class="social-item twiter">
                    <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15 1.44281C14.4422 1.6875 13.8478 1.84969 13.2281 1.92844C13.8656 1.54781 14.3522 0.949687 14.5809 0.22875C13.9866 0.583125 13.3303 0.833438 12.6309 0.973125C12.0666 0.372188 11.2622 0 10.3847 0C8.68219 0 7.31156 1.38188 7.31156 3.07594C7.31156 3.31969 7.33219 3.55406 7.38281 3.77719C4.82625 3.6525 2.56406 2.42719 1.04437 0.560625C0.779062 1.02094 0.623438 1.54781 0.623438 2.115C0.623438 3.18 1.17188 4.12406 1.98937 4.67062C1.49531 4.66125 1.01062 4.51781 0.6 4.29188C0.6 4.30125 0.6 4.31344 0.6 4.32562C0.6 5.82 1.66594 7.06125 3.06375 7.34719C2.81344 7.41562 2.54062 7.44844 2.2575 7.44844C2.06062 7.44844 1.86187 7.43719 1.67531 7.39594C2.07375 8.61375 3.20438 9.50906 4.54875 9.53812C3.5025 10.3566 2.17406 10.8497 0.735938 10.8497C0.48375 10.8497 0.241875 10.8384 0 10.8075C1.36219 11.6859 2.97656 12.1875 4.7175 12.1875C10.3762 12.1875 13.47 7.5 13.47 3.43687C13.47 3.30094 13.4653 3.16969 13.4587 3.03938C14.0691 2.60625 14.5819 2.06531 15 1.44281Z"
                            fill="white" />
                    </svg>
                </div>
                <div class="social-item youtube">
                    <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path
                                d="M14.6909 1.50867C14.5181 0.866058 14.0114 0.359497 13.3689 0.186462C12.1951 -0.134705 7.49982 -0.134705 7.49982 -0.134705C7.49982 -0.134705 2.80472 -0.134705 1.63092 0.174286C1.00076 0.347137 0.48175 0.86615 0.308899 1.50867C0 2.68237 0 5.11649 0 5.11649C0 5.11649 0 7.56287 0.308899 8.7243C0.481934 9.36682 0.988403 9.87338 1.63101 10.0464C2.81708 10.3677 7.5 10.3677 7.5 10.3677C7.5 10.3677 12.1951 10.3677 13.3689 10.0587C14.0115 9.88574 14.5181 9.37918 14.6911 8.73666C14.9999 7.56287 14.9999 5.12885 14.9999 5.12885C14.9999 5.12885 15.0123 2.68237 14.6909 1.50867V1.50867ZM6.00494 7.3652V2.86777L9.9093 5.11649L6.00494 7.3652Z"
                                fill="white" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="15" height="10" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
        <div>
            <div class="company-logo">
                <img src='img/company-logo.png' />
                <a href="https://wezom.com.ua/" target="_blank"></a>
            </div>
            <div>
                <p>Разработка тестового</p>
                <p><strong>Wezom Agency</strong></p>
            </div>
        </div>
    </div>
</footer>
<script src='libs/jquery.min.js'></script>
<script src="libs/jquery.maskedinput.min.js" type="text/javascript"></script>
<script src='libs/jquery.validate.min.js'></script>
<script src='libs/slick.min.js'></script>
<script src='js/all.js'></script>

</body>

</html>