<body>
  //= header.html
  <section>
    <div class="row-content container">
      <div>
        <div class="menu">
          <div class="menu-header">
            <div class="menu-icon">
              <div>
                <p></p>
                <p></p>
                <p></p>
              </div>
            </div>
            <p>Меню</p>
          </div>
          <ul>
            <li><a href="#">Ссылка 1</a></li>
            <li><a href="#">Ссылка 2</a></li>
            <li><a href="#">Ссылка 3</a></li>
            <li><a href="#">Ссылка 4</a></li>
            <li><a href="#">Ссылка 5</a></li>
            <li><a href="#">Ссылка 6</a></li>
            <li><a href="#">Ссылка 7</a></li>
          </ul>
        </div>
      </div>
      <div class="search-block">
        <form id='search-form' action="javascript:void(0)">
          <label class="search-label">
            <input type="search" name="" placeholder="Поиск по сайту" required name='search' minlength="2" />
          </label>
          <select>
            <option>Все категории</option>
            <option>Категория 1</option>
            <option>Категория 2</option>
          </select>
          <input type="submit" name="" class="btn btn-orange" value="Поиск" />
        </form>
        <div class="filter">
          <div class="links">
            <div class="active">
              <img src="img/link1-orange.png" />
              <p>Ссылка 1</p>
            </div>
            <div>
              <img src="img/link2-orange.png" />
              <p>Ссылка 2</p>
            </div>
            <div>
              <img src="img/link3-orange.png" />
              <p>Ссылка 3</p>
            </div>
            <div>
              <img src="img/link4-orange.png" />
              <p>Ссылка 4</p>
            </div>
            <div>
              <img src="img/link5-orange.png" />
              <p>Ссылка 5</p>
            </div>
          </div>
          <div class="filter-bottom">
            <form id="filter-form">
              <div class="tabs">
                <span>Tab 1</span>
                <span class="active">Tab 2</span>
              </div>
              <div class="form-content">
                <div class="form-wrapper">
                  <label>
                    <select>
                      <option>Select 1</option>
                      <option>Select 1=</option>
                      <option>Select 1</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 2</option>
                      <option>Select 2</option>
                      <option>Select 2</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 3</option>
                      <option>Select 3</option>
                      <option>Select 3</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 4</option>
                      <option>Select 4</option>
                      <option>Select 4</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 5</option>
                      <option>Select 5</option>
                      <option>Select 5</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 6</option>
                      <option>Select 6</option>
                      <option>Select 6</option>
                    </select>
                  </label>
                  <div class="range">
                    <p>Цена </p>
                    <label>
                      <input type="text" value="500" id="rangeMin" placeholder='500' name='rangeMin'>
                    </label>
                    <label>
                      <input type="text" value="50000" id="rangeMax" placeholder="50000" name='rangeMax'>
                    </label>
                  </div>
                </div>
                <div class="form-wrapper">
                  <label>
                    <select>
                      <option>Select 1</option>
                      <option>Select 1=</option>
                      <option>Select 1</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 2</option>
                      <option>Select 2</option>
                      <option>Select 2</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 3</option>
                      <option>Select 3</option>
                      <option>Select 3</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 4</option>
                      <option>Select 4</option>
                      <option>Select 4</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 5</option>
                      <option>Select 5</option>
                      <option>Select 5</option>
                    </select>
                  </label>
                  <label>
                    <select>
                      <option>Select 6</option>
                      <option>Select 6</option>
                      <option>Select 6</option>
                    </select>
                  </label>
                  <div class="range">
                    <p>Цена </p>
                    <label>
                      <input type="text" value="500" id="rangeMin" placeholder='500' name='rangeMin'>
                    </label>
                    <label>
                      <input type="text" value="50000" id="rangeMax" placeholder="50000" name='rangeMax'>
                    </label>
                  </div>
                </div>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-red btn-img clear"><span></span>Очистить фильтр</a>
                  <input type="submit" class='btn btn-gradient' name="" value="Применить фильтр">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="products-header">
      <h2>Карточки товаров</h2>
      <a href="#">Cсылка в каталог</a>
    </div>
    <div class="products">
      <div class="product">
        <div class="marks">
          <span>Mark</span>
        </div>
        <h6>Антифриз Fosser Antifreeze
          FA 12 Readymix 1 л Concentrat, Germany</h6>
        <div class="feedback">
          <div>
            <div class="stars">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p>Отзывы<span> (24) </span></p>
          </div>
          <p>В наличии: <span>24</span> шт.</p>
        </div>
        <div class="product-info">
          <div class="additional-info">
            <div>
              <img src="img/summer.png" />
              <p>летняя</p>
            </div>
            <div>
              <img src='img/car.png' />
              <p>легковая</p>
            </div>
            <div>
              <img src="img/new.png" />
              <p>новая</p>
            </div>
          </div>
          <div class="product-photo">
            <img src="img/tires.png" />
          </div>
        </div>
        <div class="attention">
          <div class="attention-item news">
            <img src='img/news-mark.png' />
          </div>
          <div class="attention-item hit">
            <img src='img/hit-mark.png' />
          </div>
          <div class="attention-item sale">
            <img src='img/sale-mark.png' />
          </div>
        </div>
        <div class="price">
          <p><span>599</span> грн.</p>
          <p class="sale"><span>1 250</span> грн.</p>
        </div>
        <a href="#" class="btn btn-orange btn-img add-to-cart" data-btn-name='add-to-cart'><span></span>Купить товар</a>
        <div class="btn-wrapper">
          <div class="btn-outline compare" data-btn-name='compare'>
            <a href="#"></a>
            <span></span>
            <p>Сравнить товар</p>
          </div>
          <div class="btn-outline favorites" data-btn-name='favorites'>
            <a href="#"></a>
            <span></span>
            <p>В избранное</p>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="marks">
          <span>Mark</span>
        </div>
        <h6>Антифриз Fosser Antifreeze
          FA 12 Readymix 1 л Concentrat, Germany</h6>
        <div class="feedback">
          <div>
            <div class="stars">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p>Отзывы<span> (24) </span></p>
          </div>
          <p>В наличии: <span>24</span> шт.</p>
        </div>
        <div class="product-info">
          <div class="additional-info">
            <div>
              <img src="img/summer.png" />
              <p>летняя</p>
            </div>
            <div>
              <img src="img/new.png" />
              <p>новая</p>
            </div>
          </div>
          <div class="product-photo">
            <img src="img/tires-2.png" />
          </div>
        </div>
        <div class="attention">
          <div class="attention-item news">
            <img src='img/news-mark.png' />
          </div>
          <div class="attention-item hit">
            <img src='img/hit-mark.png' />
          </div>
        </div>
        <div class="price">
          <p><span>599</span> грн.</p>
          <p class="sale"><span>1 250</span> грн.</p>
        </div>
        <a href="#" class="btn btn-orange btn-img add-to-cart" data-btn-name='add-to-cart'><span></span>Купить товар</a>
        <div class="btn-wrapper">
          <div class="btn-outline compare" data-btn-name='compare'>
            <a href="#"></a>
            <span></span>
            <p>Сравнить товар</p>
          </div>
          <div class="btn-outline favorites" data-btn-name='favorites'>
            <a href="#"></a>
            <span></span>
            <p>В избранное</p>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="marks">
          <span>Mark</span>
        </div>
        <h6>Антифриз Fosser Antifreeze
          FA 12 Readymix 1 л Concentrat, Germany</h6>
        <div class="feedback">
          <div>
            <div class="stars">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p>Отзывы<span> (24) </span></p>
          </div>
          <p>В наличии: <span>24</span> шт.</p>
        </div>
        <div class="product-info">
          <div class="additional-info">
            <div>
              <img src="img/summer.png" />
              <p>летняя</p>
            </div>
            <div>
              <img src='img/car.png' />
              <p>легковая</p>
            </div>
            <div>
              <img src="img/new.png" />
              <p>новая</p>
            </div>
          </div>
          <div class="product-photo">
            <img src="img/tires-3.png" />
          </div>
        </div>
        <div class="attention">
          <div class="attention-item news">
            <img src='img/news-mark.png' />
          </div>
        </div>
        <div class="price">
          <p><span>9 570</span> грн.</p>
          <p class="sale"><span>11 250</span> грн.</p>
        </div>
        <a href="#" class="btn btn-orange btn-img add-to-cart" data-btn-name='add-to-cart'><span></span>Купить товар</a>
        <div class="btn-wrapper">
          <div class="btn-outline compare" data-btn-name='compare'>
            <a href="#"></a>
            <span></span>
            <p>Сравнить товар</p>
          </div>
          <div class="btn-outline favorites" data-btn-name='favorites'>
            <a href="#"></a>
            <span></span>
            <p>В избранное</p>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="marks">
          <span>Mark</span>
        </div>
        <h6>Антифриз Fosser Antifreeze</h6>
        <div class="feedback">
          <div>
            <div class="stars">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p>Отзывы<span> (24) </span></p>
          </div>
          <p>В наличии: <span>24</span> шт.</p>
        </div>
        <div class="product-info">
          <div class="additional-info">
            <div>
              <img src="img/summer.png" />
              <p>летняя</p>
            </div>
            <div>
              <img src='img/car.png' />
              <p>легковая</p>
            </div>
          </div>
          <div class="product-photo">
            <img src="img/tires-4.png" />
          </div>
        </div>
        <div class="attention">
        </div>
        <div class="price">
          <p><span>599</span> грн.</p>
          <p class="sale"><span>1 250</span> грн.</p>
        </div>
        <a href="#" class="btn btn-orange btn-img add-to-cart" data-btn-name='add-to-cart'><span></span>Купить товар</a>
        <div class="btn-wrapper">
          <div class="btn-outline compare" data-btn-name='compare'>
            <a href="#"></a>
            <span></span>
            <p>Сравнить товар</p>
          </div>
          <div class="btn-outline favorites" data-btn-name='favorites'>
            <a href="#"></a>
            <span></span>
            <p>В избранное</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  //= footer.html