$text: #3b3b3b;
$white: #fff;
$black: #000;

$orange: #ff8900;
$borderColor: #e8e8e8;
$grey: #5f5a59;
$red: tomato;

$contentText: 'Roboto', sans-serif;

$transition: all 0.4s ease-out;


*::-moz-selection {
  color: #ff8900;
  background: #fff;
}

*::-webkit-selection,
*::selection {
  color: #ff8900;
  background: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
  @media only screen and (max-width: 1600px) {
  font-size: 55%;
  }
  @media only screen and (max-width: 1499px) {
  font-size: 48%;
  }
  @media only screen and (max-width: 1399px) {
  font-size: 47%;
  }
  @media only screen and (max-width: 1199px) {
  font-size: 56%;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
  font-size: 62.5%;
  }
}
body {
  font-family: $contentText;
  font-size: 1.6px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.75;
  position: relative !important;
  scrollbar-color:  #fff #ff8900;
  scrollbar-width: thin; 
  &.overflow{
    overflow-y: hidden;
  }
}

.container {
  width: 100%;
  max-width: 136rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @media only screen and (max-width: 1399px) {
    padding: 0 20px;
  }
}

h2{
  font-size: 36px;
  font-weight: 400;
  line-height: 1.16;
  color: $text;
  @media only screen and (max-width: 1699px) {
    font-size: 34px;
  }
  @media only screen and (max-width: 1399px) {
    font-size: 32px;
  }
  @media only screen and (max-width: 980px) {
    font-size: 30px;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    font-size: 26px;
  }
}
h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.25;
  color: $text;
  margin-bottom: 2rem;
  @media only screen and (max-width: 1699px) {
    font-size: 38px;
  }
  @media only screen and (max-width: 1399px) {
    font-size: 33px;
  }
  @media only screen and (max-width: 980px) {
    font-size: 27px;
    margin-bottom: 1.5rem;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    font-size: 21px;
  }
  &.white{
    color: #fff;
  }
}
h4{
  font-size: 30px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.66;
  color: $text;
  margin-bottom: 2rem;
  @media only screen and (max-width: 1699px) {
    font-size: 27px;
  }
  @media only screen and (max-width: 1399px) {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 980px) {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
}
h5{
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  color: $text;
  @media only screen and (max-width: 1399px) {
    font-size: 18px;
    line-height: 1.3;
  }
  @media only screen and (max-width: 980px) {
    font-size: 16px;
  }
}
h6{
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  @media only screen and (max-width: 1499px) {
    font-size: 15px;
  }
}
p{
  font-size: 17px;
  line-height: 1.8;
  color: $text;
  @media only screen and (max-width: 1699px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 1399px) {
    font-size: 15px;
  }
}

ul {
  list-style-type: disc;
}
a {
  text-decoration: none;
}

a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
 input:not([type='checkbox']),
 input:not([type='file']),
 select,
 textarea {
  width: 100%;
  font-family: $contentText;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  line-height: 2;
  height: 5rem;
  color: $text;
  background: #fff;
  border: 1px solid $borderColor;
  padding: 0 2.5rem;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  &.wpcf7-not-valid{
    border-color: $red;
  }
  @media only screen and (max-width: 992px){
    padding: 0 2rem;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    font-size: 16px;
  }
}
 input:not([type='checkbox'])::-moz-placeholder,
 input:not([type='radio'])::-moz-placeholder,
 input:not([type='file'])::-moz-placeholder,
 select::-moz-placeholder,
 textarea::-moz-placeholder {
  color: #929292;
  opacity: 1;
}
 input:not([type='checkbox'])::-ms-input-placeholder,
 input:not([type='radio'])::-ms-input-placeholder,
 input:not([type='file'])::-ms-input-placeholder,
 select::-ms-input-placeholder,
 textarea::-ms-input-placeholder {
  color: #929292;
  opacity: 1;
}
 input:not([type='checkbox'])::-webkit-input-placeholder,
 input:not([type='radio'])::-webkit-input-placeholder,
 input:not([type='file'])::-webkit-input-placeholder,
 select::-webkit-input-placeholder,
 textarea::-webkit-input-placeholder {
  color: #929292;
  opacity: 1;
}
 input:not([type='checkbox']):focus::-moz-placeholder,
 input:not([type='radio']):focus::-moz-placeholder,
 input:not([type='file']):focus::-moz-placeholder,
 select:focus::-moz-placeholder,
 textarea:focus::-moz-placeholder {
  opacity: 0;
}
 input:not([type='checkbox']):focus::-ms-input-placeholder,
 input:not([type='radio']):focus::-ms-input-placeholder,
 input:not([type='file']):focus::-ms-input-placeholder,
 select:focus::-ms-input-placeholder,
 textarea:focus::-ms-input-placeholder {
  opacity: 0;
}
 input:not([type='checkbox']):focus::-webkit-input-placeholder,
 input:not([type='radio']):focus::-webkit-input-placeholder,
 input:not([type='file']):focus::-webkit-input-placeholder,
 select:focus::-webkit-input-placeholder,
 textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
 input:not([type='checkbox']).error,
 input:not([type='radio']).error,
 input:not([type='file']).error,
 select.error,
 textarea.error {
  border-color: tomato;
}
 input:not([type='checkbox']).fail,
input:not([type='radio']).fail,
input:not([type='file']).fail{
  border-color: tomato;
}
select {
  background-image: url('../img/down.png');
  -webkit-background-size: 5px 5px;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: right 3rem center;
  option {
    padding: 6px 28px 6px 0;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    background-position: right 1rem center;
  }
}
form textarea {
  height: 18rem;
  padding: 1.5rem 2rem;
}
form input[type='submit'] {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn,  input[type='submit']{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 4.8rem;
  display: inline-block;
  height: 5rem;
  text-align: center;
  min-width: 12.5rem;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0 1.5rem;
  text-decoration: none;
  transition: $transition;
  white-space: nowrap;
  &.btn-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    span{
      display: block;
      margin-right: 10px;
    }
  }
  &.btn-orange{
    background: $orange;
    border-color: $orange;
    color: $white;
    &:hover{
      background: #fd9c2d;
      border-color: #fd9c2d;
    }
  }
  &.btn-red{
    background: #ff4800;
    border-color: #ff4800;
    color: $white;
    &:hover{
      background: #ff0000;
      border-color: #ff0000;
    }
  }
  &.btn-gradient{
    background: -webkit-gradient(linear, left top, right top, from(#ff8500), to(#ffae00));
    background: -o-linear-gradient(left, #ff8500, #ffae00);
    background: linear-gradient(to right, #ff8500, #ffae00);
    border-color: transparent;
    color: $white;
    &:hover{
      background: -webkit-gradient(linear, left top, right top, from(#d36e00), to(#e59100));
      background: -o-linear-gradient(left, #d36e00, #e59100);
      background: linear-gradient(to right, #d36e00, #e59100);  
    }
  }
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  text-decoration: none;
}

.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: $transition;
  &.active{
    visibility: visible;
    opacity: 1;
  }
  .modal-body{
    position: relative;
    background: $white;
    padding: 3rem 3.5rem;
    .close{
      position: absolute;
      top: -15px;
      right: -20px;
      transform: translate(100%, -100%);
      width: 25px;
      height: 30px;
      background: url(../img/close.png) center center/contain no-repeat;
      cursor: pointer;
    }
    .center{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    h4{
      font-size: 24px;
      margin-bottom: 2rem;
    }
    form{
      label{
        display: inline-block;
        font-size: 14px;
        margin-bottom: 7px;
      }
      label.error{
        color: tomato;
        font-size: 11px;
        margin-top: -8px;
        line-height: 1;
        padding-left: 5px;
      }
      input.error{
        color: tomato;
      }
      input:not([type='checkbox']){
        margin-bottom: 1.6rem;
        min-width: 30rem;
        max-width: 30rem;
      }
      input[type='submit']{
        max-width: 20rem;
        min-width: 20rem;
      }
      input[type='checkbox']{
        margin-right: 5px !important;
      }
      #phone-number{
        margin-bottom: 3rem;
      }
      .btn{
        max-width: 20rem;
        text-transform: initial;
        font-size: 14px;
        font-weight: 400;
        margin: 0 auto;
      }
      .addition-block{
        padding: 1.5rem 0 2.5rem;
        a{
          font-size: 14px;
          text-decoration: underline;
          color: $text;
          margin-right: 2.5rem;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  &.call-me{
    .modal-body{
      max-width: 38rem;
    }
  }
  &.login{
    input[type='submit']:disabled{
      background: #afb9c6;
      border-color: #afb9c6;
    }
    .right{
      div{
      padding-top: 3.1rem;
      }
    }
    .modal-body{
      max-width: 75.5rem;
      padding-right: 0;
      padding-left: 0;
    }
    .content{
      display: flex;
      &>div{
        width: 50%;
        padding: 0 4rem;
        &:first-of-type{
          border-right: 1px solid $borderColor;
        }
      }
    }
  }
  .login-with{
    color: $white;
    min-width: 100%;
    margin-bottom: 2.4rem;
    &.facebook{
      background: #3b5998;
      border-color: #3b5998;
      span{
        width: 8px;
        height: 17px;
        background: url(../img/facebook.svg) center center/contain no-repeat;
      }
    }
    &.twitter{
      background: #41abe1;
      border-color: #41abe1;
      span{
        width: 15px;
        height: 14px;
        background: url(../img/twitter.svg) center center/contain no-repeat;
      }
    }
    &.google{
      background: #ea4335;
      border-color: #ea4335;
      span{
        width: 17px;
        height: 17px;
        background: url(../img/google.svg) center center/contain no-repeat;
      }
    }
  }
}

header{
  position: relative;
  .row-content{
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media only screen and (max-width: 1499px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    @media only screen and (max-width: 1199px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .logo{
      position: relative;
      a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        min-width: 0;
        max-width: 50%;
        position: absolute;
        img{
          width: 12rem;
        }
      }
    }
  }
  .top-line{
    background: $grey;
    .container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .btn{
      min-width: 12.5rem;
      height: 5rem;
      span{
        display: inline-block;
        width: 18px;
        height: 15px;
        background: url(../img/login.png) center center/contain no-repeat;
      }
    }
  }
  .main-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    min-height: 100%;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      padding: 0 10px;
      min-height: 0;
    }
    li{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      height: 100%;
      padding: 0 10px;
      margin-right: 1.6rem;
      cursor: pointer;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        margin-right: 0;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $orange;
        transition: $transition;
      }
      a{
        font-size: 12px;
        text-transform: uppercase;
        color: #c3c3c3;
      }
      &.active-link, &:hover{
        &::before{
          width: 100%;
        }
        a{
          color: $white;
        }
      }
      &:first-of-type{
        padding-left: 0;
      }
    }   
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      position: absolute;
      top: 100%;
      background: grey;
      left: 0;
      width: 100%;
      display: block;
      display: none;
      z-index: 999;
      li, li:first-of-type{
        padding: 15px 10px;
      }
    }
  }
  .menu-icon{
    display: none;
    position: relative;
    width: 14px;
    height: 10px;
    p {
        position: absolute;
        left: 0;
        width: 14px;
        height: 2px;
        background: $white;
        border-radius: 0;
        transition: 0.3s;
        transform-origin: 50% 50%;
        margin: 0;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 4px;
            transition: 0.1s;
        }
        &:nth-child(3) {
            bottom: 0;
        }
    }
    &.active {
        p {
            &:nth-child(1) {
                top: 9px;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                width: 30px;
                bottom: 7px;
                transform: rotate(-45deg);
            }
        }
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      display: block;  
      margin-left: 15px;
    }
  }
}

.row-content{
    display: flex;
    justify-content: space-between;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      flex-direction: column;
      z-index: 1;
    }
    &>div{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      &.header-right{
        @media only screen and (max-width: 1199px) {
          flex-direction: column-reverse;
          align-items: flex-end;
          .right-part{
            margin-bottom: 15px;
          }
        }
      }
    }
    &>div:first-of-type{
      min-width: 34.5rem;
      max-width: 34.5rem;
      padding-right: 2rem;
      align-items: flex-start;
      @media only screen and (max-width: 1499px) {
        min-width: 30rem;
        max-width: 30rem;
      }
      @media only screen and (max-width: 1199px) {
        min-width: 26rem;
        max-width: 26rem;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        min-width: 100%;
        max-width: 100%;
        padding-right: 0;
      }
      
    }
    .phone-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $borderColor;
      @media only screen and (max-width: 1199px) {
        width: 100%;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        background: transparent;
        flex-direction: column;
      }
      a:not(.btn){
        display: inline-block;
        padding: 0 9px;
        font-size: 16px;
        font-weight: 700;
        color: #151515;
        font-style: italic;
        margin-right: 2rem;
        @media only screen and (max-width: 1499px) {
          margin-right: 1rem;
          font-size: 14px;
        }
        @media only screen and (max-width: 1299px) {
          font-size: 12px;
          margin-right: 0;
        }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          margin: 20px  0;
        }
        
      }
      .btn{
        min-width: 19.7rem;
        margin-left: 1.3rem;
        font-weight: 400;
        @media only screen and  (max-width: 599px){
          width: 100%;
          margin-left: 0;
        }
        span{
          background: url(../img/phone.png) center center/contain no-repeat;
          width: 15px;
          height: 20px;
        }
      }
    }
    .right-part{
      display: flex;
      justify-content: flex-end;
      div{
        position: relative;
        padding: 0 2.3rem;
        border-right: 1px solid $borderColor;
        @media only screen and (max-width: 1499px) {
          padding: 0 1.5rem;
        }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          border: none;
          padding: 0 0.5rem;
        }
        &:nth-child(2){
          padding: 0 3.3rem;
          @media only screen and (max-width: 1499px) {
            padding: 0 1.5rem;
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
           padding: 0 0.5em;
          }
        }
        &:last-of-type{
          border-right: none;
          padding: 0 3.3rem;
          @media only screen and (max-width: 1499px) {
            padding: 0 1.5rem;
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            padding: 0 0.5rem;
          }
        }
        p{
          text-align: center;
          font-size: 10px;
          color: $text;
          font-weight: 400;
          text-transform: uppercase;
          margin-top: 7px;
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            display: none;
          }
        }
        span{
          display: block;
          width: 5rem;
          height: 4rem;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          margin: 0 auto;
          @media only screen and (max-width: 1499px) {
            width: 4rem;
            height: 3rem;
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            width: 3.5rem;
            height: 2.5rem;
          }
          &.counter{
            display: inline-block;
            width: auto;
            height: 14px;
            padding: 0 7px;
            background: $orange;
            background-image: none !important;
            color: $white;
            font-size: 11px;
            text-align: center;
            position: absolute;
            top: -22px;
            left: 50%;
            transform: translateX(-50%);
            line-height: 15px;
            box-shadow: 0 5px 5px rgba(241, 129, 0, 0.7);
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            &.visibility{
              opacity: 1;
              visibility: visible;
            }
            &:after{
              content: ''; 
              position: absolute; /* Абсолютное позиционирование */
              left: 50%; 
              bottom: -10px; /* Положение треугольника */
              transform: translateX(-50%);
              border: 5px solid transparent; /* Прозрачные границы */
              border-top: 7px solid $orange; /* Добавляем треугольник */
            }
            @media only screen and (max-width: 1499px) {
              top: -24px;
            }
          }
        }
        &.compare{
          span{
            background-image: url(../img/compare-header.png)
          }
        }
        &.favorites{
          span{
            background-image: url(../img/favorites-header.png)
          }
        }
        &.cart{
          span{
            background-image: url(../img/cart-header.png)
          }
        }
        a{
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          cursor: pointer;
        }
      }
    }
    .menu{
      width: 100%;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        margin-bottom: 20px;
      }
      .menu-header{
        display: flex;
        align-items: center;
        height: 5.5rem;
        width: 100%;
        background: -webkit-gradient(linear, left top, right top, from(#ff8500), to(#ffae00));
        background: -o-linear-gradient(left, #ff8500, #ffae00);
        background: linear-gradient(to right, #ff8500, #ffae00);
        p{
          font-size: 20px;
          margin-left: 20px;
          color: $white;
          font-weight: 700;
          @media only screen and (max-width: 1499px) {
            font-size: 18px;
          }
        }
        .menu-icon{
          width: 6rem;
          height: 5.5rem;
          background: rgba(0,0,0,0.15);
          display: flex;
          align-items: center;
          justify-content: center;
          div{
            position: relative;
            width: 14px;
            height: 10px;
            p {
                position: absolute;
                left: 0;
                width: 14px;
                height: 2px;
                background: $white;
                border-radius: 0;
                transition: 0.3s;
                transform-origin: 50% 50%;
                margin: 0;
                &:nth-child(1) {
                    top: 0;
                    width: 10px;
                }
                &:nth-child(2) {
                    width: 14px;
                    top: 4px;
                    transition: 0.1s;
                }
                &:nth-child(3) {
                    width: 7px;
                    bottom: 0;
                }
            }
            &.active {
                p {
                    &:nth-child(1) {
                        top: 9px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        width: 30px;
                        bottom: 7px;
                        transform: rotate(-45deg);
                    }
                }
            }
          }
        }
      }
      ul{
        border-right: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        padding-top: 10px;
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          display: none;
        }
        li{
          list-style: none;
          border-bottom: 1px solid $borderColor;
          a{
            position: relative;
            display: block;
            padding: 13px 5.5rem 13px 4rem;
            font-size: 16px;
            font-weight: 700;
            color: $text;
            text-transform: uppercase;
            @media only screen and (max-width: 1499px) {
              font-size: 15px;
              padding: 9px 4.5rem 9px 3rem;
            }
            @media only screen and (max-width: 1199px) {
              padding: 9px 4.5rem 9px 1.5rem;
            }
            &:after{
              position: absolute;
              right: 3rem;
              top: 50%;
              transform: translateY(-50%);
              content: '';
              width: 10px;
              height: 15px;
              background: url(../img/right.png) center center/contain no-repeat;
              transition: $transition;
              @media only screen and (max-width: 1499px) {
                right: 2.5rem;
              }
            }
            &:hover{
              color: #c0c4d8;
              &:after{
                right: 2.5rem;
              }
            }
          }
        }
      }
    }
    .search-block{
      display: block;
      form{
        width: 100%;
        display: flex;
        height: 5.5rem;
        background: $borderColor;
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          flex-wrap: wrap;
          justify-content: space-between;
          background: transparent;
          height: auto;
          .search-label{
            width: 100%;
            margin-bottom: 3px;
            //background: transparent;
            &::before{
              display: none;
            }
          }
          
        }
        .search-label{
          input.error{
            border-color: transparent;
          }
          label.error{
            display: none !important;
          }
        }
        input:not([type=submit]), select{
          background-color: transparent;
          height: 5.5rem;
        }
        .btn{
          max-width: 16.5rem;
          height: 5.5rem;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 0.5;
          @media only screen and (max-width: 1199px) {
            max-width: 10rem;
            font-size: 14px;
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            max-width: 34%;
          }
        }
        label{
          display: block;
          width: 100%;
          position: relative;
          &:before{
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 4rem;
            transform: translateY(-50%);
            content: '';
            background: #b4b9bf;
          }
        }
        select{
          max-width: 150px;
          font-size: 14px;
          color: #616161;
          padding: 0 4rem 0 1.5rem;
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            max-width: calc(100% - 13rem);
          }
        }
      }
    }
    .filter{
      width: 100%;
      height: calc(100% - 8rem);
      margin-top: 20px;
      background: #696969;
      .links{
          height: 7.5rem;
          background: #606a76;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2.5rem;
          @media only screen and (max-width: 1199px) {
            padding: 0 1.5rem;
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            height: auto;
            padding-top: 10px;
          }
          div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc((100% - 4rem) / 5);
            height: 100%;
            cursor: pointer;
            opacity: 0.4;
            position: relative;
            @media only screen and (max-width: 1199px) {
              flex-direction: column;
              justify-content: flex-end;
            }
            &:after{
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              content: '';
              width: 0;
              height: 2px;
              background: #ffc925;
              transition: $transition;
            }
            img{
              margin-right: 1.5rem;
              filter: grayscale(1) contrast(2);
              transition: $transition;
              @media only screen and (max-width: 1199px) {
                margin-bottom: 5px;
              }
              @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
                margin: 0 auto 5px;
              }
            }
            &.active, &:hover{
              opacity: 1;
              &:after{
                width: 100%;
              }
              img{
                filter: none;
              }
            }
            
            p{
              color: $white;
              font-size: 18px;
              font-weight: 500;
              line-height: 1.1;
              @media only screen and (max-width: 1499px) {
                font-size: 16px;
              }
              @media only screen and (max-width: 1199px) {
                font-size: 14px;
                margin: 5px 0 10px;
              }
              @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
                font-size: 0;
              }
            }
          }
      }
      .filter-bottom{
        padding: 25px 0;   
        height: calc(100% - 7.5rem);
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          padding: 15px 0;
        }
        .tabs{
          width: auto;
          display: inline-flex;
          align-items: center;
          background: $borderColor;
          margin: 0 0 20px;
          padding: 0.3rem 0.4rem;
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            width: 100%;
          }
          span{
            display: inline-block;
            width: 14rem;
            height: 4rem;
            line-height: 4rem;
            font-size: 14px;
            text-align: center;
            transition: $transition;
            cursor: pointer;
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
              width: 50%;
            }
            &.active{
              background: $orange;
              color: $white;
            }
          }
        }
        #filter-form{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 0 3.5rem;
          @media only screen and (max-width: 1199px) {
            padding:  0 1.5rem;
          }
          .form-content{
            width: 100%;
          }
        }
        form{
          display: block;
          width: 100%;
          height: 100%;
          background: transparent;
          .form-wrapper{
            width: calc(100% + 2rem);
            margin-left: -1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
              width: calc(100% + 1rem);
              margin-left: -.5rem;
            }
            label{
              width: calc((100% - 8rem) / 4);
              margin: 0 1rem;
              padding-bottom: 1px;
              border-bottom: 1px solid $white;
              margin-bottom: 22px;
              @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
                width: calc((100% - 2rem) / 2);
                margin: 0 0.5rem 10px;
              }
              select, input{
                min-width: 100%;
                height: 4rem;
                background-color: $white;
              }
              select {
                 background-image: url('../img/down-orange.png');
              }              
            }
          }
          .range{
            width: calc((100% - 8rem) / 4);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: 1rem;
            @media only screen and (max-width: 1399px) {
              width: auto;
            }
            label.error{
              display: none;
            }
            p{
                font-size: 14px;
                color: $white;
                margin-right: auto;
              }
            label{
              width: 75px;
              margin: 0 0 0 1rem;
              input{
                color: #9c9c9c;
                font-size: 14px;
                padding: 0 5px;
                text-align: center;
                position: relative;
                &:focus{
                  color: $text;
                }
              }

            }
          }
          .btn-wrapper{
            margin-top: 5px;
            padding: 0;
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
              margin-top: 15px;
              flex-direction: column-reverse;
            }
            .btn{
              min-width: 21rem;
              font-size: 12px;
              font-weight: 400;
              height: 5rem;
              @media only screen and (max-width: 599px){
                min-width: 100%;
                margin-bottom: 10px;
              }
            }
            .btn-red{
              max-width: 100%;
              font-size: 14px;
              text-transform: initial;
            }
            .btn-img{
              span{
                width: 13px;
                height: 13px;
                background: url(../img/close.png) center center/contain no-repeat;
              }
            }
          }
          
        }
      }
    }
  }



.products-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid $borderColor;
  margin-top: 20px;
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    border-bottom: none;
  }
  h2{
    position: relative;
    line-height: 1.8;
    &:after{
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: $orange;
    }
  }
  a{
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-decoration: underline;
    padding-right: 3rem;
    position: relative;
    margin-top: 14px;
    &:after{ 
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      content: '';
      width: 15px;
      height: 10px;
      background: url(../img/right-big.svg) center center/contain no-repeat;
    }
  }
}
.products{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5.5rem;
  .product{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding: 20px 15px 20px 10px;
    margin-bottom: 5.5rem;
    @media only screen and (max-width: 1299px) {
      width: calc(100%/3);
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      border: none;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 3rem;
    }
    &:nth-child(4n){
      border-right: none;
      @media only screen and (max-width: 1299px) {
        display: none;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        display: flex;
      }
    }
    &:nth-child(3n){
      @media only screen and (max-width: 1299px) {
          border-right: none;
      }
    }
    h6{
      text-decoration: underline;
      transition: $transition;
      margin-bottom: 5px;
      min-height: 6rem;
      &:hover{
        text-decoration: none;
      }
    }
    .btn-img{
      min-width: 21rem;
      margin: 0 auto;
      span{
        width: 3rem;
        height: 2.5rem;
        background: url(../img/cart.png) center center/contain no-repeat;
      }
    }
  }
  .marks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    span{
      display: block;
      min-width: 8rem;
      height: 2.2rem;
      line-height: 2.4rem;
      padding: 0 1rem;
      background: $borderColor;
      font-weight: 300;
      font-size: 14px;
      color: #848484;
      text-align: center;
      margin-bottom: 17px;
    }
  }
  .feedback{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    @media only screen and (max-width: 1499px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &>div{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      p{
        position: relative;
        font-size: 13px;
        color: #9b9b9b;
        margin-left: 5px;
        margin-bottom: 0;
        line-height: 1.1;
        &::after{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          content: '';
          background: #9b9b9b;
        }
      }
    }
    &>p{
      margin-bottom: 0;
      font-size: 12px;
      color: #757575;
      line-height: 1.1;
      @media only screen and (max-width: 1499px) {
        margin-top: 10px;
      }
    }
    .stars{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      span{
        display: block;
        width: 15px;
        height: 15px;
        background: url(../img/star-orange.svg);
        margin-right: 5px;
        @media only screen and (max-width: 1799px) {
          margin-right: 2px;
        }
        &.empty{
          background: url(../img/star.svg);
        }
      }
    }
    
  }
  .product-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 210px;
    .additional-info{
      width: 5.5rem;
      @media only screen and (max-width: 1499px) {
        width: 7rem;
      }
      div{
        margin-bottom: 10px;
      }
      img{
        margin: 0 auto 10px;
      }
      p{
        font-size: 10px;
        color: #91959a;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .product-photo{
      width: calc(100% - 11rem);
      @media only screen and (max-width: 1499px) {
        width: calc(100% - 7rem);
      }
      img{
        margin: 0 auto;
      }
    }
  }
  .price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: -1rem;
    p{
      font-weight: 900;
      font-style: italic;
      font-size: 18px;
      text-transform: uppercase;
      @media only screen and (max-width: 1499px) {
        font-size: 17px;
      }
      span{
        font-size: 30px;
        @media only screen and (max-width: 1499px) {
          font-size: 25px;
        }
      }
      &.sale{
        display: inline;
        position: relative;
        font-size: 16px;
        color: #989898;
        margin-right: 5px;
        margin-top: 5px;
        @media only screen and (max-width: 1499px) {
          font-size: 15px;
        }
        span{
          font-size: 16px;
        }
        &:after{
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '';
          background: #e00000;
          width: 100%;
          height: 1px;
        }
      }
    }
  }
  .attention{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 55px;
    &-item{
      position: relative;
      margin: 0 0 5px;
      text-align: center;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-width: 200%;
        width: 150%;
        @media only screen and (max-width: 1499px) {
          width: 120%;
        }
      }
    }
  }
  .btn-wrapper{
    padding: 0;
    @media only screen and (max-width: 1499px) {
      flex-direction: column;
    }
    .btn-outline{
      cursor: pointer;
      &:first-of-type{
        @media only screen and (max-width: 1499px) {
          margin-bottom: 8px;
        }
      }
      &:hover{
        p{
          transition: $transition;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
  .slick-dots{
    display: flex;
    margin: 0 auto;
    li{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $orange;
      list-style: none;
      margin: 0 5px;
      opacity: 0.6;
      transition: $transition;
      &.slick-active{
        opacity: 1;
        transform: scale(1.5);
      }
      button{
        font-size: 0;
      }
    }
  }
}
.btn-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  padding: 0 10px 0 20px;
}
.btn-outline{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }
  p{
    font-size: 14px;
    color: $text;
    text-decoration: underline;
    @media only screen and (max-width: 1499px) {
      font-size: 13px;
    }
  }
  span{
    display: block;
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    @media only screen and (max-width: 1499px) {
      width: 2.5rem;
    }
  }
  &.compare{
    span{
      width: 3.5rem;
      background: url(../img/compre.png) center center/contain no-repeat;
      @media only screen and (max-width: 1499px) {
        width: 3rem;
      }
    }
  }
  &.favorites{
    span{
      background: url(../img/favorites.png) center center/contain no-repeat;
    }
  }
}

footer{
  background: #696969;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    &>div{
      width: calc((100% / 2) / 3);
      padding-right: 2rem;
      padding-left: 1rem;
      @media only screen and (max-width: 980px) {
          width: calc(100% / 3);
          padding-left: 0;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        width: 100%;
        margin-bottom: 20px;
      }
      &:first-of-type{
        width: calc(100% / 2);
        padding-right: 10.5rem;
        padding-left: 0;
        @media only screen and (max-width: 1399px) {
          padding-right: 5rem;
        }
        @media only screen and (max-width: 980px) {
          width: calc(100% / 1.5);
          padding-right: 0;
          margin: 0 20px 30px 0;
        }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          width: 100%;
          margin: 0 0 30px 0;
        }
      }
      .footer-header{
        position: relative;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        &:after{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: $borderColor;
          content: '';
        }
      }
      h3{
        position: relative;
        display: inline;
        font-size: 20px;
        font-weight: 500;
        color: #cbcbcb;
        padding-bottom: 1rem;
        @media only screen and (max-width: 1499px) {
          font-size: 16px;
        }
        &:after{
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $orange;
          content: '';
          z-index: 2;
        }
      }
      h4{
        font-size: 20px;
        font-weight: 700;
        color: #cbcbcb;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 0.8;
        @media only screen and (max-width: 1499px) {
          font-size: 18px;
        }
        @media only screen and (max-width: 1199px) {
          line-height: 1.2;
          margin-bottom: 10px;
        }
      }
      h5{
        font-size: 26px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 5px;
        @media only screen and (max-width: 1499px) {
          font-size: 22px;
        }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          margin-bottom: 15px;
        }
      }
    }
  }
  form{
    position: relative;
    label.error{
      position: absolute;
      left: 5px;
      bottom: -25px;
      font-size: 12px;
      color: tomato;
    }
    .btn{
      position: absolute;
      right: 0;
      min-width: 17rem;
      @media only screen and (max-width: 699px) {
        position: relative;
        min-width: 100%;
      }
    }
  }
  ul{
    li {
      list-style: none;
      margin-bottom: 2.1rem;
      a{
        font-size: 13px;
        line-height: 1.1;;
        color: #fff;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .social{
    display: flex;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      justify-content: center;
      margin-bottom: 10px;
    }
    .social-item{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border: 1px solid #a0a9b2;
      margin-right: 10px;
      transition: $transition;
      cursor: pointer;
      svg path{
        transition: $transition;
      }
      &:last-of-type{
        margin-right: 0;
      }
      &:hover{
        border-color: #ffc925;
        svg path{
          fill: #ffc925;
        }
      }
    }
  }
  .footer-bottom{
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.1);

    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      margin-top: 0;
    }
    &>div:first-of-type{
      display: flex;
      align-items: center;
      
      p{
        font-size: 12px;
        color: #a0a9b2;
        padding: 0 15px;
        @media only screen and (max-width: 1499px) {
          padding: 0 0 0 12px;
        }
        @media only screen and (max-width: 980px) {
          padding: 0;
        }
      }
      @media only screen and (max-width: 980px) {
        order: 3;  
        margin: 10px 0; 
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        justify-content: center;
        margin-top: 0;
      }
    }
    &>div:nth-child(2){
      width: calc((100% / 2) / 1.5);
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        width: 100%;
      }
    }
    &>div:last-of-type{
      display: flex;
      align-items: center;
      padding-left: 18px;
      padding-right: 0;
      @media only screen and (max-width: 1499px) {
        padding-left: 0;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        justify-content: center;
      }
      div{
        padding: 0 0 0 17px;
        border-left: 1px solid rgba(255,255,255,0.1);
        @media only screen and (max-width: 1499px) {
          padding: 0 0 0 12px;
        }
        &.company-logo{
          padding: 0;
          margin-right: 19px;
          border-left: none;
          position: relative;
          @media only screen and (max-width: 1499px) {
            margin-right: 12px;
          }
          a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          img{
            min-width: 42px;
          }
        }
        p{
          font-size: 12px;
          color: #a0a9b2;
          @media only screen and (max-width: 1499px) {
            font-size: 11px;
          }
          strong{
            font-size: 12px;
            font-weight: 500;
            color: $white;
            @media only screen and (max-width: 1499px) {
              font-size: 11px;
            }
          }
        }
      }
    }
    .logo{
      position: relative;
      margin-right: 20px;
      @media only screen and (max-width: 1499px) {
        margin-right: 12px;
      }
      @media only screen and (max-width: 980px) {
        display: none;   
      }
      &:before{
        position: absolute;
        top: 0;
        right: -20px;
        height: 100%;
        width: 1px;
        content: '';
        background: rgba(255,255,255,0.1);
      }
      a{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        width: 100%;
        height: 100%;
      }
    }
    
  }
}